

.containerForm {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 auto;
    width: 110rem;
    height: 74.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    /* border: solid 1px #000000; */
    background-color: #ffffff;
    box-shadow: 0px 0px 30px  #000000;
}

.contenedorFormulario {
    background-color: var(--navbar);
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 3rem;
    text-align: center;
}

.contenedorFormulario h1 {
    font-size: 5rem;
}

.formularioLogin input[type="text"] {
    height: 5rem;
    width: 80%;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 1.5rem;
    border: none;
}


.formularioLogin label {
    margin: 5rem auto 0rem auto;
    display: block;
    text-align: left;
    font-weight: 800;
    width: 80%;
    font-size: 2.5rem;
}

.formularioLogin label:has(input[type='checkbox']) {
    font-weight: 200;
    font-size: 2.2rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    color: #ffffff;
}


