@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Convertir rem a px*/
}

body {
    font-size: 1.8rem;
    font-family: "Rajdhani", sans-serif;
    background-color: var(--fondoPagina);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem;
}

#root {
    min-height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.contenedorCentrado{
    height: 100vh;
}

.btn {
    height: 4rem;
    padding: 0 2rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 2.4rem;
}

.btnAzul {
    background-color: var(--btnAzul);
    color: #000000;
}

.btnAmarillo {
    background-color: var(--btnAmarillo);
    color: #000000;
}

.btnRojo {
    background-color: var(--btnRojo);
    color: #ffffff;
}

.btnVerde {
    background-color: var(--btnVerde);
    color: #000000;
}

.w-100{
    width: 100%;
}

.formularioBuscador {
    border-radius: 1.5rem;
    padding: 1rem;
    width: 38.8rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.formularioBuscador input {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 1rem;
}

.formularioBuscador input::placeholder {
    color: #ffffff;
}

.formularioBuscador label {
    width: 100%;
}

.formAzul input,
.formAzul {
    background-color: #3B6CA6;
    color: #ffffff;
}

.headerBuscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.headerBuscadorBtn {
    display: flex;
    gap: 2rem;
}

.fa-trash-can {
    color: var(--btnRojo);
}

.mt-1{
    margin-top: 1rem;
}

.paginaScroll {
    height: 80rem;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 1rem;
}

.paginaScroll::-webkit-scrollbar {
    width: 1rem;
    background: transparent;
}

.paginaScroll::-webkit-scrollbar-thumb {
    width: 1rem;
    background: #999696;
    border-radius: 1.5rem;
}

.loading {
    text-align: center;
    font-size: 3rem;
    color: #3B6CA6;
}
